$accent: #000000;
$background: #ffffff;

$notstarted: #ffa2a2;
$inprogress: #f8e792;
$completed: #7feebf;

// Breakpoints
$screen-width-sm: 576px;
$screen-width-md: 768px;
$screen-width-lg: 992px;
$screen-width-xl: 1200px;
