$accent: #000000;
$background: #ffffff;

$notstarted: #ffa2a2;
$inprogress: #f8e792;
$completed: #7feebf;

$pink: #f37474;
$teal: #62e2d3;
$banana: #e5d85b;

// Breakpoints
$screen-width-sm: 576px;
$screen-width-md: 768px;
$screen-width-lg: 992px;
$screen-width-xl: 1200px;
